{% extends "base.html" %}

{% block title%} Своя игра. Игра № {{ game.number }}{% endblock %}

{% block content %}
<h1>{{ game }}</h1>
<div class="game">
    {% for category in game.category_set.all %}
    <div class="game_category_question">
        <div class="game_category">{{ category.name }}</div>
        {% for question in category.question_set.all %}
            {% if category.id|add:question.count_points in questions_done %}
                <div class="game_question game_question_is_done">
            {% else %}
                <div class="game_question">
            {% endif %}
                <a href="{% url 'owngame:question' game.number category.id question.count_points %}">
                    <p>{{question.count_points}}</p>
                </a>
            </div>
        {% endfor %}
    </div>      
    {% endfor %}
</div>

<div class="back"><a href="{% url 'owngame:index' %}"><p>Назад</p></a></div>

{% endblock %}