{% extends "base.html" %}

{% block title%} Своя игра. Игра № {{ game_number }}. Вопрос: {{ category_id }} {{ question.count_points }} {% endblock %}

{% block content %}
<h1>Вопрос на {{ question.count_points }} по категории {{ question.category.name }}</h1>
<h2 class = "question">{{question.content_question}}</h2>

<button class="show_answer">Показать ответ</button>

<p class="answer" style="display: none">Правильный ответ: {{question.correct_answer}}</p>


<div class="back" style="display: none"><a href="{% url 'owngame:game' game_number %}"><p>Назад</p></a></div>


{% endblock %}
