/* Общие стили */
.main h1 {
    font-size: 49pt;
    color: #007700;
    font-family: sans-serif;
    margin-left: 50px;
    margin-bottom: 75px;
}
.main {
    margin: 8% auto;
    width: 80%;
}
/* Страница с выбором игры */
.main_games {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.main_games_game {
    width: 30%;
    border: 2px solid #007700;
    border-radius: 5%;
}
.main_games_game:hover {
    background-color: #007700;
}
.main_games_game p {
    padding-top: 10%;
    text-align: center;
    color: #007700;
    font-weight: bolder;
    font-family: sans-serif;
    height: 60%;
    margin-bottom: 10%;
}
.main_games_game:hover p {
    color: white;
}

/* Страница игры */
