.main {
    margin: 10% auto;
    width: 80%;
}
.main_games {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.main_games_game {
    width: 30%;
    border: 2px solid #007700;
    border-radius: 5%;
}
.main_games_game:hover {
    background-color: #007700;
}
.main_games_game p {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    color: black;
}
.main_games_game:hover p {
    color: white;
}